{% extends "base.html" %}
{% block title %}Painel Interno{% endblock %}

{% block content %}

<h2 class="fw-bold mb-4 text-danger">Painel Interno Xodó</h2>

<div class="list-group shadow-sm">

    <a href="{% url 'order_list' %}" class="list-group-item list-group-item-action fw-bold d-flex justify-content-between">
        <span>📦 Ver Pedidos</span>

        {% if pending_orders > 0 %}
        <span class="badge bg-danger">{{ pending_orders }}</span>
        {% endif %}
    </a>

    <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action fw-bold">
        📊 Dashboard
    </a>

    {% if user.is_superuser %}
    <a href="/admin/" class="list-group-item list-group-item-action fw-bold text-danger">
        ⚙ Django Admin (somente superusuário)
    </a>
    {% endif %}
</div>

{% endblock %}
