{% extends "admin/change_form.html" %}

{% block after_related_objects %}

<h3>📤 Enviar nova LOGO do sistema</h3>

<form method="POST" enctype="multipart/form-data" class="mt-2">
    {% csrf_token %}
    <input type="file" name="file" accept="image/*" class="form-control" required>
    <button class="btn btn-success mt-2">Enviar Logo</button>
</form>

{% if original.logo_url %}
<div class="mt-3">
    <h5>Logo atual:</h5>
    <img src="{{ original.logo_url }}" style="max-height:130px;">
</div>
{% endif %}

{% endblock %}
