Django==5.2.8
gunicorn==21.2.0
whitenoise==6.11.0

# PDFs / QRCode
weasyprint==67.0
qrcode==8.2
reportlab==4.4.5
pypdf==6.4.0

# Dependências internas do WeasyPrint
Pillow==11.3.0
tinycss2==1.5.1
tinyhtml5==2.0.0
cssselect2==0.8.0
pydyf==0.12.1
python-bidi==0.6.7
pyphen==0.17.2
zopfli==0.4.0
svglib==1.6.0
html5lib==1.1
lxml==6.0.2
numpy==1.26.4
pycairo==1.24.0
freetype-py==2.4.0
pyarrow==14.0.2

